{% extends 'base.html' %}
{% load static %}


{% block title %}Welcome to our Django Blog{% endblock title %}


{% block stylesheet %}{% endblock stylesheet %}
	

{% block content %}

			<h4 class="container">Category :  {{ cat.name }}</h4>
			{% for p in  post %}
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
					<figure>
						<a href="{% url 'single_post' id=p.id  %}"><img src="{{ p.image.url }}" alt="Image" class="img-responsive"></a>
					</figure>
					<span class="fh5co-meta"><a href="{% url 'topic' name=p.category.name %}">{{ p.category.name }}</a></span>
					<h2 class="fh5co-article-title"><a href="{% url 'single_post' id=p.id  %}">{{ p.title }}</a></h2>
					<span class="fh5co-meta fh5co-date">{{ posted_on }}</span>
				</article>
			{% endfor %}
				
			
		
{% endblock content %}


{% block script %}
	
{% endblock script %}
	