{% extends 'base.html' %}


{% block title %}
    
{% endblock title %}



{% block stylesheet %}
    
{% endblock stylesheet %}




{% block profile %}
    
{% endblock profile %}
        



{% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}




{% block script %}
    
{% endblock script %}
    